version: 2.1

orbs:
  aws-ecr: circleci/aws-ecr@9.3.3
  aws-ecs: circleci/aws-ecs@4.0.0
  aws-cli: circleci/aws-cli@5.4.1

workflows:
  build-and-deploy:
    jobs:
      # Build and push Docker image to ECR when code changes in application/
      - aws-ecr/build_and_push_image:
          name: build-and-push-image
          context: aws-access
          auth:
            - aws-cli/setup
          account_id: "809893975291"
          public_registry: false
          skip_when_tags_exist: false
          dockerfile: application/Dockerfile
          path: .
          repo: stori-challenge-app
          tag: ${CIRCLE_SHA1},latest
          region: us-east-2
          filters:
            branches:
              only:
                - main

      # Deploy new task definition to ECS
      - aws-ecs/deploy_service_update:
          name: deploy-to-ecs
          context: aws-access
          auth:
            - aws-cli/setup
          family: stori-challenge-task
          cluster: stori-challenge-cluster
          service_name: stori-challenge-service
          container_image_name_updates: "container=stori-app,tag=${CIRCLE_SHA1}"
          verify_revision_is_deployed: true
          max_poll_attempts: 50
          poll_interval: 20
          region: us-east-2
          requires:
            - build-and-push-image
          filters:
            branches:
              only:
                - main
