version: 2.1

orbs:
  aws-ecr: circleci/aws-ecr@9.3.3
  aws-ecs: circleci/aws-ecs@4.0.0
  aws-cli: circleci/aws-cli@5.4.1

jobs:
  build-and-push:
    docker:
      - image: cimg/aws:2024.03
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - aws-cli/setup
      - run:
          name: Login to ECR
          command: |
            aws ecr get-login-password --region us-east-2 | docker login --username AWS --password-stdin 809893975291.dkr.ecr.us-east-2.amazonaws.com
      - run:
          name: Build Docker image
          command: |
            cd application
            docker build -t 809893975291.dkr.ecr.us-east-2.amazonaws.com/stori-challenge-app:${CIRCLE_SHA1} .
            docker tag 809893975291.dkr.ecr.us-east-2.amazonaws.com/stori-challenge-app:${CIRCLE_SHA1} 809893975291.dkr.ecr.us-east-2.amazonaws.com/stori-challenge-app:latest
      - run:
          name: Push to ECR
          command: |
            docker push 809893975291.dkr.ecr.us-east-2.amazonaws.com/stori-challenge-app:${CIRCLE_SHA1}
            docker push 809893975291.dkr.ecr.us-east-2.amazonaws.com/stori-challenge-app:latest

workflows:
  build-and-deploy:
    jobs:
      # Build and push Docker image to ECR when code changes in application/
      - build-and-push:
          name: build-and-push-image
          context: aws-access
          filters:
            branches:
              only:
                - main

      # Deploy new task definition to ECS
      - aws-ecs/deploy_service_update:
          name: deploy-to-ecs
          context: aws-access
          auth:
            - aws-cli/setup
          family: stori-challenge-task
          cluster: stori-challenge-cluster
          service_name: stori-challenge-service
          container_image_name_updates: "container=stori-app,tag=${CIRCLE_SHA1}"
          verify_revision_is_deployed: true
          max_poll_attempts: 50
          poll_interval: 20
          region: us-east-2
          requires:
            - build-and-push-image
          filters:
            branches:
              only:
                - main
